{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}


<div class="container">

    <h1 class="font-weight-light center">{{ author.name }}</h1>

    <p>{{ author.description }}</p>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            {% for title_ in titles %}
            <th scope="col">{{ title_ }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
        <tr>
            <th>{{ object.id }}</th>
            <td>{{ object.name_composition }}</td>
            <td>{{ object.genre.name_genre }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{%endblock%}