{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}


<div class="container">

    <h1 class="font-weight-light center">Произведения</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            {% for title_ in titles %}
            <th scope="col">{{ title_ }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
        <tr>
            <th>{{ object.id }}</th>
            <td><a class="link-dark" href="{% url 'composition' composition_id=object.id %}">{{ object.name_composition }}</a></td>
            <td>{{ object.genre.name_genre }}</td>
            <td><a class="link-dark" href="{% url 'author' author_id=object.author.id %}">{{ object.author.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{%endblock%}