{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

<div>
    <h2>Что это?</h2>
Pianohelper - инструмент, позволяющий пользователям электронных пианино и синтезаторов улучшить свои навыки игры. Как именно? Предположим, вы захотели выучить Полонез Огинского, но вы часто делаете ошибки в нотах и сбиваетесь в темпе. В этом поможет Pianohelper, вы находите или загружаете свой MIDI-файл - идеальный образец исполнения. Затем вы играете произведение на своем инструменте. Сейчас практически все синтезаторы поддерживают запись и экспорт MIDI своей игры. Вы загружаете свой файл на сайт, он проверяет его на соответствие идеальному выступлению. Вы можете опубликовать свою игру, люди могут ставить на нее рейтинг. Отслеживайте свой прогресс, совершенствуйте свою игру!


</div>
<hr>
<div>
    <h2>Как это работает</h2>
    <p>Об этом вы ухнаете на странице "<a href="{%url 'faq'%}">Как это работает</a>"</p>

    <hr>
</div>
<div>
    <h2>Немного статистики</h2>
    Позже"

</div>



{% endblock %}